/*Initial Style - Light mode*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333333;
}

header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-weight: 700;
}

nav {
  margin-top: 10px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333333;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.buttons a {
  margin: 0 10px;
  padding: 15px 30px;
  background-color: #f9f9f9;
  color: #333333;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}

.buttons a:hover {
  background-color: #333333;
  color: #ffffff;
}

.buttons a.active {
  font-weight: bold;
  color: #ffffff;
  background-color: #333333;
}

.project {
  margin-bottom: 40px;
  border: 1px solid #e0e0e0;
  padding: 20px;
}

h2 {
  margin-top: 0;
  font-weight: 700;
}

footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

a {
  color: #333333;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

main.index-content {
  padding: 150px;
  font-size: larger;
}

/*Dark mode style*/

body.dark-mode {
  background-color: #222222;
  color: #f9f9f9;
}

body.dark-mode header {
  background-color: #333333;
  color: #f9f9f9;
}

body.dark-mode header a {
  color: #f9f9f9; /* Altera a cor do link dentro do header */
}

body.dark-mode main {
  background-color: #222222;
}

body.dark-mode .buttons a {
  background-color: #222222;
  color: #f9f9f9;
}

body.dark-mode .buttons a:hover {
  background-color: #f9f9f9;
  color: #333333;
}

body.dark-mode .buttons a.active {
  background-color: #f9f9f9;
  color: #333333;
}

body.dark-mode .project {
  border-color: #444444;
}

body.dark-mode h2 {
  color: #f9f9f9;
}

body.dark-mode footer {
  background-color: #333333;
  color: #f9f9f9;
}

/* Estilos para o rodapé no dark mode */
body.dark-mode footer p {
  color: #f9f9f9;
}

/* Dark mode button style*/
#dark-mode-input {
  display: none;
}

label.dark-mode-toggler {
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

label.dark-mode-toggler div {
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}

#dark-mode-input:checked + label.dark-mode-toggler div {
  transform: translateX(20px);
}

/*Responsiveness*/
@media (max-width: 768px) {
  /* ... (estilos para telas menores) ... */
}
